spring:
  datasource:
    hikari:
#      url: jdbc:h2:tcp://localhost:9092/mem:testdb;MVCC=TRUE
#      url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
      jdbc-url: jdbc:log4jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
#      driver-class-name: org.h2.Driver
    data: classpath*:data-h2.sql
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
#h2:
#  tcpServer:
#    enabled: true
#    port: 9092
#  webServer:
#    enabled: false
#    port: 8082
